.row.header
  .twelve_columns
    %div
      %h1.home_header fitlings
    %div
      =image_tag  "fitlings.png", :id => 'fitling'
    %h3.sub_header the fitness app that helps earthlings behave like fitlings.






