.clear
{
  clear: both;
}

#new_meal
{
  margin-top: 20px;
  margin-right: 10px;
}

#new_workout
{
  margin-top: 20px;
}

.workout_h
{
  margin-top: 40px;
}

.meal_h
{
  margin-top: 40px;
}

ul
{
  list-style-type: none;
}

.bold
{
  font-weight: bold;
}

.line
{
  border-bottom: 1px solid black;
}

#daily_calorie_total
{
  font-size: 150px;
  padding-left: 55px;
}

#chart
{
  height: 300px;
  width: 500px;
}

.sign_up_header
{
  font-family: "runda",sans-serif;
  padding: 20px;
  font-size: 45px;
  padding-left: 0;

}

.sign_in_header
{
  font-family: "runda",sans-serif;
  padding: 20px;
  font-size: 45px;
  padding-left: 0;
}

h5
{
  font-family: "runda",sans-serif;
  font-size: 25px;
}

.sub_header
{
  font-family: "runda",sans-serif;
  clear: both;
  font-size: 28px;
}

.home_header
{
  font-family: "runda",sans-serif;
  font-size: 150px;
  float: left;
}

#todays_date
{
  font-family: "runda",sans-serif;
  font-size: 50px;
  margin-top: 20px;
}

#calories
{
  font-family: "runda",sans-serif;
  font-size: 50px;
}

.calorie_count
{
  font-family: "runda",sans-serif;
  font-size: 30px;
  padding-left: 40px;
  margin-top: 40px;
}

.calorie_chart
{
  font-family: "runda",sans-serif;
  font-size: 30px;
  padding-left: 40px;
}

#fitling
{
  height: 110px;
  position: relative;
  top: 40px;
  left: 40px;
  float: left;
}

.footer
{
  margin-top: 250px;
}

.header
{
  margin-top: 50px;
}

label
{
  font-family: "museo-sans",sans-serif;
  font-size: 20px;
  padding-top: 10px;
}

body
{
  color: black;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }









